.aside {
  position: absolute;
  left: 0;
  top: 35px;
  bottom: 0;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}
.aside::-webkit-scrollbar {
  width: 0;
}

.icon {
  width: 100%;
  height: 100%;
}
